@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a.applink, a.applink:link, a.applink:active, a.applink:visited,
    a.appbutton, a.appbutton:link, a.appbutton:active, a.appbutton:visited {
        @apply text-blue-800 font-bold no-underline border-blue-800 border-solid;
    }

    a.applink:hover,
    a.appbutton:hover {
        @apply text-blue-600;
    }

    a.appbutton {
        @apply border-2 rounded inline-block p-2;
    }

    a.appbutton.appbutton-sm {
        @apply p-1;
    }

    .maintitle {
        @apply text-center font-bold bg-gray-400 rounded border-transparent border-solid;
        @apply mb-2 text-xl mx-1 border-4 p-1;
    }

    @screen xl {
        .maintitle {
            @apply mb-6 text-2xl mx-4 border-8 p-0;
        }
    }
    .maintitle.nomb {
        @apply mb-0;
    }

    select {
        @apply appearance-none mt-1 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm transition duration-150 bg-no-repeat pr-8 ease-in-out;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M7 7l3-3 3 3m0 6l-3 3-3-3' stroke='%239fa6b2' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        color-adjust: exact;
        background-position: right .5rem center;
        background-size: 1.5em 1.5em;
    }

    input[type=text] {
        @apply appearance-none bg-white mt-1 py-2 px-3 border border-gray-300 rounded-md shadow-sm transition duration-150 ease-in-out;
    }

    input[type=text]:focus,
    select:focus {
        @apply outline-none ring ring-blue-700 border-blue-300;
        box-shadow: 0 0 0 3px rgba(164, 202, 254, .45);
    }

    .button-group {
        @apply cursor-pointer text-gray-800 font-bold text-sm border border-blue-300 py-0 px-0 inline-block;
    }
    .button-group:hover {
        @apply bg-blue-400;
    }
    .button-group a {
        @apply block py-1 px-3;
    }
    .button-group:first-child {
        @apply rounded-l;
    }
    .button-group:last-child {
        @apply rounded-r;
    }
    .button-group-active {
        @apply bg-blue-300;
    }
    @screen md {
        .button-group {
            @apply py-1 px-2 text-base;
        }

        .button-group a {
            @apply block py-1 px-2;
        }
    }

    .button-group.button-disabled {
        @apply cursor-not-allowed text-gray-300 border-gray-300;
    }
    .button-group.button-disabled a {
        @apply cursor-not-allowed;
    }
    .button-group.button-disabled:hover {
        @apply bg-white;
    }


    tr.logline td {
        @apply pr-2 text-sm;
    }
    tr.logline:nth-child(2n) {
        @apply bg-gray-300;
    }


    .icon {
        @apply w-6 h-6;
    }
    .maintitle .icon {
        margin: calc(.25rem + 4px) 0 calc(.25rem + 4px) 0;
    }
    .maintitle .appbutton .icon {
        @apply m-0;
    }
    @screen xl {
        .icon {
            @apply w-8 h-8;
        }
        .maintitle .icon {
            margin: calc(.25rem + 2px) 0 calc(.25rem + 2px) 0;
        }
    }

    .resultlist {
        @apply p-2;
    }
    @screen xl {
        .resultlist {
            @apply p-4;
        }
    }
}
